<%= javascript_include_tag 'jquery','application'  %>
<%= javascript_include_tag 'jquery','bootstrap-transition','bootstrap-dropdown','application'%>

           <ul class="nav nav-list">
              <li class="nav-header">menu</li>
              <li class="dropdown" id="proy1"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Proyecto1
<b class="caret"></b></a>
            	<ul class="dropdown-menu">
              	<li><a href="#">Product Backlog</a></li>
		<li><a href="#">Sprint Backlog</a></li>
		<li><a href="#">Task Review</a></li>
            	</ul>
		</li>
              <li class="dropdown" id="proy2"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Proyecto2
<b class="caret"></b></a>
            	<ul class="dropdown-menu">
              	<li><a href="#">Product Backlog</a></li>
		<li><a href="#">Sprint Backlog</a></li>
		<li><a href="#">Task Review</a></li>
            	</ul>
		</li>
            </ul>
