<%= javascript_include_tag 'jquery','application'  %>
<%= javascript_include_tag 'jquery','bootstrap-transition','bootstrap-dropdown','application'%>

           <ul class="nav nav-list">
              <li class="nav-header">menu</li>
            </ul>
