<%= javascript_include_tag 'jquery','application'  %>
<%= javascript_include_tag 'jquery','bootstrap-transition','bootstrap-dropdown','application'%>

<!--
  <div class="span3" style="width:200px;">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
           <li class="nav-header">menu</li>
         </ul>
    </div>
  </div>
-->