<%= form_for :dump, :url=>"/es/admin/students/csv_import",:html => { :multipart => true , :class => "form-horizontal"} do |f| %>
<div class="control-group">  
    <label for="dump_file">
        Select a CSV File :
      </label>
<div class="controls">
	<%= f.file_field :file %>
	</div>
  </div>
  <br />
  <%= submit_tag "Subir" ,:class => 'btn btn-primary' %>
<% end %>