<ul class="nav nav-pills">
    <li><a href="#">Avance Grupal</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administración de usuarios <b class="caret"></b></a>
      <ul id="menu1" class="dropdown-menu">
        <li><%= link_to "Administradores", :controller => "admins", :action => "index" %></li>
        <li><%= link_to "Clientes", :controller => "clients", :action => "index" %></li>
        <li><%= link_to "Alumnos", :controller => "students", :action => "index" %></li>
      </ul>
    </li>
	            <li><a href="#">Reportes</a></li>
	            <li><a href="#">Configuración</a></li>
	            <li><%=link_to 'Logout'.html_safe, logout_path, :method => :delete%></li>
  </ul> <!-- /tabs -->