<div class="span3" style="width:200px;">
  <div class="well sidebar-nav">
           <ul class="nav nav-list">
              <li class="nav-header">menu</li>
			<% @projects.each do |project| %>

			              <li class="dropdown" id="proy"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><Proyecto1><%= project.nombre %>
			<b class="caret"></b></a>
			            	<ul class="dropdown-menu">
			              	<li><%= link_to "Product Backlog", admin_stories_path,:project_id => project.id
							 %>
							
</li>
					<li><a href="#">Sprint Backlog</a></li>
					<li><a href="#">Task Review</a></li>
			            	</ul>
					</li>

			<% end %>
            </ul>
</div>
</div>