@import 'bootstrap';
@import 'bootstrap-responsive';


  div.botright{
    display:block;

    /*set the div in the bottom right corner*/
    float:right;
    bottom:0;
    right:0;
    width:200px;
  }

textarea{
  height:200px;
}

input#story_name,#story_usuario,#story_descripcion,#story_prioridad,#story_comentarios,
#story_functionpts,#story_descripcion,#criterio_descripcion,#criterio_story_id{
    width: 60%;
}

input#task_descripcion,#task_estimadoinicial,#task_status,#task_student_id,#task_descripcion{
    width: 60%;
}


select#story_status_id{
width:61%;
}

#layout{
        padding-top: 60px;}

#contenido{
	margin-left: auto;
	margin-right: auto;
	width:80%;
}

#encabezado{
  	border-bottom: 2px solid;
	color:$blue;
	text-align:center;
}

#cuerpo{
text-align:left;
}
