<div id="contenido">
	<div id="encabezado">
	<h1 align="center">Reporte de Proyectos</h1><br />
	</div>
<br />
<div id="cuerpo"> 

<div id="encabezado">
	<div id='chart'></div></div>  <br />
	
 <%= render_chart @chart, 'chart' %>	
</div >
	</br>

 <%= @var %>	

</div>


