<p id="notice"><%= notice %></p>

<h1>
  <%= @status.descripcion %>
</h1>


<div class="form-actions">
<%= link_to '<i class="icon-chevron-left"></i> Lista de Estatus'.html_safe, alumno_statuses_path, :class => 'btn btn-info' %>
<%= link_to '<i class="icon-edit icon-white"></i> Editar'.html_safe, edit_alumno_status_path(@status), :class => 'btn btn-info' %>
</div>
